@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
   box-sizing: border-box;
}

body{
   background-color: hsl(47, 88%, 63%);
   font-family: "Figtree";
}

.course{
   background-color: white;
   border: 1px solid black;
   border-radius: 15px;
   box-shadow: 10px 5px black;
   padding: 20px;
   display: flex;
   flex-direction: column;
}

.course__image{
   margin-bottom: 20px;
}

.course__link{
   background-color: hsl(47, 88%, 63%);
   text-align: center;
   width: 25%;
   padding-top: 5px;
   padding-bottom: 5px;
   font-size: 14px;
   font-weight: 800;
   border-radius: 5%;
   margin-bottom: 15px;
}

.course__description{
   font-size: 16px;
   

}